* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
  background-color: black;
  color: white;
  padding: 20px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 10px;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    height: auto; /* Justerer høyden automatisk på små skjermer */
    padding: 10px;
  }

  nav ul {
    margin-top: 10px;
    gap: 10px;
  }
}

/* Sikrer at hver seksjon dekker hele skjermen */
section {
  width: 100%;
  height: 100vh; /* Full høyde av viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero {
  background-color: #2C3E50;
  background-image: url("../Bilder/IMG_4271.jpg"); /* Bakgrunnsbilde */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: aliceblue; /* Tekstfarge */
}

.text-section {
  background-color: #f4f4f4; /* Lys bakgrunnsfarge */
  color: #333; /* Mørk tekstfarge */
}

.text-section h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.text-section p {
  text-align: left;
  font-size: 1.2em;
  line-height: 1.5;
  max-width: 800px; /* Begrens bredden på teksten */
  position: relative; /* For å kunne plassere bildet absolutt */
}

.text-section img {
  float: left; /* Flyter bildet til venstre */
  margin-right: 20px; /* Legger til litt avstand mellom tekst og bilde */
  max-width: 50%; /* Justerer størrelsen på bildet */
}

/* Typografi for hovedinnhold */
.content h1 {
  font-size: 4em;
  margin-top: -300px;

  color: black;
}

.content p1 {
  font-size: 1.5em;
  line-height: 1.5;
}



/* Scroll-down pil */
.scroll-down {
  position: absolute;
  bottom: 20px; /* Plassering nederst i seksjonen */
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border: solid aliceblue; /* Farge på pilen */
  border-width: 0 3px 3px 0;
  display: inline-block;
  transform: rotate(45deg) translateX(-50%);
  animation: bounce 1.5s infinite; /* Animere pilen */
}

