*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 
header{
  background-color: black;
  color: rgb(207, 207, 207);
  width: 100%;
}
 
header h2{
   font-size: 30px;
}
 
header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px
}
 
nav ul li{
  list-style: none;
  display: inline-block;
}
 
nav ul li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  padding: 0 15px;
}

h {
  font-size: large;
}


p {
  text-align: center;
}

q {
  text-align: center;
}